USE [master]
GO
/****** Object:  Database [Shakalya_griffindo]    Script Date: 2/19/2024 9:50:21 PM ******/
CREATE DATABASE [Shakalya_griffindo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shakalya_griffindo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Shakalya_griffindo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shakalya_griffindo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Shakalya_griffindo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shakalya_griffindo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shakalya_griffindo]
GO
/****** Object:  Table [dbo].[DaytourHire_Calculation]    Script Date: 2/19/2024 9:50:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaytourHire_Calculation](
	[Rec_ID] [int] IDENTITY(1,1) NOT NULL,
	[Vehicle_ID] [int] NULL,
	[Pakage_Type] [varchar](100) NULL,
	[Start_Time] [datetime] NULL,
	[End_Time] [datetime] NULL,
	[StartKm_Rd] [int] NULL,
	[EndKm_Rd] [int] NULL,
	[Base_Hire] [int] NULL,
	[ExtraKm_Charge] [int] NULL,
	[Waiting_Charge] [int] NULL,
	[Total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Rec_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LongtourHire_calculation]    Script Date: 2/19/2024 9:50:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LongtourHire_calculation](
	[Rec_ID] [int] IDENTITY(1,1) NOT NULL,
	[Vehicle_ID] [int] NULL,
	[Pakage_Type] [varchar](100) NULL,
	[Start_Day] [datetime] NULL,
	[End_Day] [datetime] NULL,
	[StartKm_Rd] [int] NULL,
	[EndKm_Rd] [int] NULL,
	[Base_Hire] [int] NULL,
	[ExtraKm_Charge] [int] NULL,
	[Overnight_Stay] [int] NULL,
	[Total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Rec_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent_calculation]    Script Date: 2/19/2024 9:50:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent_calculation](
	[Rec_ID] [int] IDENTITY(1,1) NOT NULL,
	[Driver_License] [int] NULL,
	[Vehical_Type] [varchar](9) NULL,
	[Driver] [varchar](3) NULL,
	[Total_rent] [int] NULL,
	[Rent_day] [datetime] NULL,
	[Return_day] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Rec_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
